<% layout('layouts/boilerplate')%>

    <main>
        <section>
            <h2>Details</h2>
            <h3><%= camp.title %></h3>
            <h4><%= camp.location %></h4>
            <image src="<%= camp.image %>"></image>
            <p><%= camp.description %></p>
        </section>
    </main>

    <p>
        <a href="/campgrounds/<%= camp._id %>/edit">Edit</a>
    </p>

    <p>
        <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>

    <footer>
        
        <a href="/campgrounds">All Campgrounds</a>
    </footer>



